<a href="https://colab.research.google.com/github/agubuffa/DE_entregable/blob/dev/DE_coder_primeraentrega.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# importo librerias
import pandas as pd
import requests
import datetime as dt
import json

In [15]:
# voy a utilizar la api de alphavantage https://www.alphavantage.co/documentation/ 
token = '30NLKG8FA4PEINTV'

In [16]:
def info_accion (function, symbol, interval, size, token):
  url = 'https://www.alphavantage.co/query'
  parametros={'function':function, 'symbol':symbol, 'interval':interval, 'outputsize':size, 'apikey':token}
  
  r = requests.get(url, params=parametros)
  data = r.json()['Time Series ('+interval+')']
  return data

In [ ]:
data = info_accion(function='TIME_SERIES_INTRADAY', symbol='googl', interval='15min', size='compact', token='30NLKG8FA4PEINTV')
data

In [18]:
df_data = pd.DataFrame.from_dict(data, orient='index')
df_data.head()

                      1. open   2. high    3. low  4. close 5. volume
2023-06-09 19:45:00  122.2700  122.3700  122.2700  122.3500      2807
2023-06-09 19:30:00  122.2300  122.3300  122.2100  122.2100      3928
2023-06-09 19:15:00  122.3000  122.3000  122.2300  122.2300      1596
2023-06-09 19:00:00  122.2700  122.3000  122.2700  122.2900       624
2023-06-09 18:45:00  122.3249  122.3249  122.3000  122.3000       727

In [19]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 2023-06-09 19:45:00 to 2023-06-08 10:45:00
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1. open    100 non-null    object
 1   2. high    100 non-null    object
 2   3. low     100 non-null    object
 3   4. close   100 non-null    object
 4   5. volume  100 non-null    object
dtypes: object(5)
memory usage: 4.7+ KB

In [20]:
df_data.columns

Index(['1. open', '2. high', '3. low', '4. close', '5. volume'], dtype='object')